<div class = "q-pati-main">
 <div class = "q-pati-main-left">
  <div class = "pati-text">パチスロ問題 初級</div>
  <div class = "question-s-format">
    <div class = "pati-question">【Q1】藤商事の機種に搭載されている、確確の際に吹く風のことを何という？</div>
    <ul class = "pati-answer-list">
      <li>①ラッキーエアー</li>
      <li>②ラッキーパンチ</li>
      <li>③幸せな風</li>
      <li>④プラスチック臭い風</li>
    </ul>
    <div class = "pati-answer" id = "answer-1">解答</div>
    <div class = "pati-answer-hidden" style= "display:none;"id = "answer-open-1">①</div>
  </div>

  <div class = "question-s-format">
    <div class = "pati-question">【Q2】藤商事のメーカー柄といえば？</div>
    <ul class = "pati-answer-list">
      <li>①イナヅマ柄</li>
      <li>②ファイヤー柄</li>
      <li>③セーフティー柄</li>
      <li>④デンジャー柄</li>
    </ul>
    <div class = "pati-answer" id = "answer-2">解答</div>
    <div class = "pati-answer-hidden" style= "display:none;" id = "answer-open-2">④</div>
  </div>

  <div class = "question-s-format">
    <div class = "pati-question">【Q3】サミーのメーカー柄といえば？</div>
    <ul class = "pati-answer-list">
      <li>①プラチナゼブラ柄</li>
      <li>②キリン柄</li>
      <li>③ジラフ柄</li>
      <li>④サバンナ柄</li>
    </ul>
    <div class = "pati-answer" id = "answer-3">解答</div>
    <div class = "pati-answer-hidden" style= "display:none;" id = "answer-open-3">②</div>
  </div>

  <div class = "question-s-format">
    <div class = "pati-question">【Q4】地獄少女シリーズといえば、どのメーカーから出ている？</div>
    <ul class = "pati-answer-list">
      <li>①平和</li>
      <li>②大一</li>
      <li>③藤商事</li>
      <li>④豊丸</li>
    </ul>
    <div class = "pati-answer" id = "answer-4">解答</div>
    <div class = "pati-answer-hidden" style= "display:none;" id = "answer-open-4">③</div>
  </div>

  <div class = "question-s-format">
    <div class = "pati-question">【Q5】牙狼シリーズといえば、どのメーカーから出ている？</div>
    <ul class = "pati-answer-list">
      <li>①イッセイ</li>
      <li>②ニセイ</li>
      <li>③サンセイ</li>
      <li>④ヨンセイ</li>
    </ul>
    <div class = "pati-answer" id = "answer-5">解答</div>
    <div class = "pati-answer-hidden" style= "display:none;" id = "answer-open-5">③</div>
  </div>

  <div class = "question-s-format">
    <div class = "pati-question">【Q6】初代緋弾のアリアのパチンコ(甘)において、特図2での大当たり時の16R割合は何%?</div>
    <ul class = "pati-answer-list">
      <li>①10%</li>
      <li>②15%</li>
      <li>③20%</li>
      <li>④25%</li>
    </ul>
    <div class = "pati-answer" id = "answer-6">解答</div>
    <div class = "pati-answer-hidden" style= "display:none;" id = "answer-open-6">④</div>
  </div>
 </div>
 <div class = "q-pati-main-right">
  <div class = "right-textbox">まだクイズはあるよ！⇩<br>他の問題にもチャレンジ！</div>
   <ul class = "question-type">
     <li><%= link_to "ポケモン初級", pokemons_path, class: "question-buttons"%></li>
     <li><%= link_to "ポケモン中級", new_pokemon_path, class: "question-buttons"%></li>
     <li><%= link_to "ポケモン上級", pokemon_path, class: "question-buttons"%></li>
     <li><%= link_to "リゼロ初級", root_path, class: "question-buttons"%></li>
     <li><%= link_to "リゼロ中級", root_path, class: "question-buttons"%></li>
     <li><%= link_to "リゼロ上級", root_path, class: "question-buttons"%></li>
     <li><%= link_to "パチスロ初級", patisuros_path, class: "question-buttons"%></li>
     <li><%= link_to "パチスロ中級", new_patisuro_path, class: "question-buttons"%></li>
     <li><%= link_to "パチスロ上級", patisuro_path, class: "question-buttons"%></li>
   </ul>
 </div>
</div>